# Folders
LibriSpeech100/
TIMIT_full/


# Zip, flac, pickle, txt
*.zip
*.flac
*.pkl
*.txt

# ipython nb checkpoints
/.ipynb_checkpoints/*

# pycache
__pycache__/
*.pyc

#Training Checkpoints
training_checkpoints/